button
{
    background-color: #008CBA;
    color:white;
    border-radius: 10px;
}

#gStorage
{
    width: 70%;
    height: 50%;

    border: 3px solid black;
    /* /* display: inline-flex; */
}
#gifPB
{
    /* position: relative;
    display: inline-flexbox; */
}

#searcher
{
    float:right;
    margin-top: 15%;
    margin-right: 15%;
}